<h1>This is the sites WELCOME page!</h1>
<h1>Here are the things that will go on this page:</h1>


<ul>
  <li>Site LOGO</li>
  <li>Sign In(current users small print under link)button to sign_in link</li>
  <li>Register(create a new account small print)button to sign_up new user link</li>
  <li>Current date and time of where ever the person is using the computer</li>
  <li>home tab</li>
  <li>services tab</li>
  <li>about us tab</li>
  <li>testimonials tab</li>
  <li>contact us tab</li>
  <li>promo video</li>
</ul>
