<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700' rel='stylesheet' type='text/css'> <!-- Body font -->
<link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'> <!-- Alternative font -->

<!-- ==============
///// Begin header
=================== -->
<header id="header-wrap">

  <!-- Begin Header content
  ==========================
  * Use class "show-hide-on-scroll" to hide header on scroll down and show on scroll up.
  * Use class "fixed-top" to set header to fixed position.
  * Use class "transparent" for transparent header.
  * Use class "transparent-border" to enable bottom border on transparent header (class "transparent" is still required).
  * Use class "semi-transparent" for semi-transparent header.
  * Use class "header-fluid" for full width header.
  * Use class "header-dark" for dark header.
  * Use class "header-color" for header custom background color. By default theme main color is used, but you ca use custom background color classes (class "header-color" is still required!). Look into "helper.css" file for more info.
  * Use class "header-shadow" to enable header bottom shadow.
  * Use class "header-md", "header-lg" or "header-xlg" to change header size.
  -->
  <div id="header" class="header-lg header-color transparent fixed-top">
    <div id="scrollspy" class="container header-container">

      <!-- Begin clock  -->
      <div class="logo font-alter-1">
          <h1 id="clock"> </h1>
      </div>
      <!-- End clock -->


      <!-- Begin fullscreen overlay menu
      ===================================
      * Remove "id="scrollspy"" if you do not want scrollspy function.
      -->
      <div id="scrollspy" class="fullscreen-menu">

        <!-- Begin menu open/close button -->
        <a href="javascript:void(0)" class="menu-button fixed">
          <div class="hamburger">
            <div class="menui top-menu"></div>
            <div class="menui mid-menu"></div>
            <div class="menui bottom-menu"></div>
          </div>
        </a>
        <!-- End menu open/close button -->

        <!-- Begin menu nav
        ====================
        * Use class "nav-uppercase" to enable nav uppercase letters. -->
        <nav class="nav menu-nav bg-transparent-9-5-dark">
          <ul>
            <li class="active"><a class="sm-scroll" href="#intro">Home</a></li>
            <li><a class="sm-scroll" href="#section-1">Our Mission</a></li>
            <li><a class="sm-scroll" href="#section-2">Services</a></li>
            <li><a class="sm-scroll" href="#section-3">Video Promo</a></li>
            <li><a class="sm-scroll" href="#section-4">Testimonials</a></li>
            <li><a class="sm-scroll" href="#section-5">Contact Us</a></li>
          </ul>
        </nav>
        <!-- End menu nav -->

      </div>
      <!-- End fullscreen overlay menu -->

    </div> <!-- /.container -->
  </div>
  <!-- End header content -->

</header>
<!-- End header -->

<!-- <div id="bg">
  <img src="images/bg.jpg" alt="">
</div> -->

<section id="intro" class="whole-screen bg-image-parallax" style="background-image: url(<%= asset_path('Intro_capstone_pic.jpg') %>;">
  <div class="intro-inner">
    <span class="cover bg-transparent-1-dark bg-transparent-gradient-1"></span>
    <div class="intro-caption vertical-align-center text-center text-white">
      <h2 class="intro-title font-alter-1">
        <span class="wow fadeInDown" data-wow-delay="0.4s" data-wow-duration="0.5s">GYM</span>
        <span class="wow fadeInDown" data-wow-delay="0.6s" data-wow-duration="0.5s">MED</span>
        <span class="wow bounceIn" data-wow-delay="1.6s">-</span>
        <span class="wow fadeInDown" data-wow-delay="0.8s" data-wow-duration="0.5s">U</span>
        <span class="wow fadeInDown" data-wow-delay="1s" data-wow-duration="0.5s">P</span>
      </h2>
      <p class="intro-description wow fadeIn" data-wow-delay="2.2s">Motivating People Since 2016!</p>
      <div class="margin-top-30">
        <%= link_to "Existing Users", new_user_session_path, :class => "btn btn-primary sm-scroll margin-top-10 wow bounceIn", :'data-wow-delay' => '1.0s' %>
        <%= link_to "Create New Account", new_user_registration_path, :class => "btn btn-primary sm-scroll margin-top-10 wow bounceIn", :'data-wow-delay' => '1.0s'%>
      </div>
    </div>
    <div class="made-with-love hidden-xs">
      <p class="text-gray">Sweat is <span class="text-main"><i class="fa fa-heart-o"></i></span></p>
    </div>
  </div>
</section>


<!-- =================================
///// Begin section 1 (about us) /////
================================== -->
<section id="section-1" class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!-- Begin heading
        ===================
        * Use class "heading-center" or "heading-right" to align heading.
        * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
        * Use class "heading-hover" to enable heading hover effect.
        * Use class "heading-uppercase" to enable uppercase letters.
        -->
        <div class="heading heading-lg heading-hover wow fadeIn">
          <span class="heading-title-ghost">Our Mission</span>
          <h2 class="heading-title">Our Mission</h2>

          <!-- Begin divider
          ===================
          * Use class "hr-width-1", "hr-width-2" -> up to "hr-width-10" to shange divider width.
          * Use class "hr-1x", "hr-2x", "hr-3x", "hr-4x" or "hr-5x" to shange divider size.
          * Use class "hr-dotted", "hr-dashed" or "hr-double" to shange divider style.
          -->
          <hr class="hr-width-1 hr-5x border-main">
          <!-- End divider -->

          <p class="heading-tescription lead">Write a little bit about your site and what you intend to achieve.
          </p>
        </div>
        <!-- End heading -->
</section>
<!-- End section 1 -->

<!-- =================================
///// Begin section 2 (services) /////
======================================
* Use class "angle-left-top", "angle-right-top", "angle-left-bottom", "angle-right-bottom" to change section angle.
* Use class "bg-image-fixed" to make background image fixed (otherwise use class "bg-image").
* Use class "bg-image-parallax" to enable background image parallax effect (otherwise use class "bg-image").
* Use class "bg-pattern" if you use background patterns (example: http://subtlepatterns.com/). Combine with class "bg-image-fixed".
-->
<section id="section-2" class="services-section bg-dark  bg-image-parallax" style="">

  <!-- Element cover
  ===================
  * Use background transparent color classes for colored opacity (example: "bg-transparent-6-dark", "bg-transparent-8-5-red" ... 1 to 95). Look into "helper.css" file for more info.
  -->
  <span class="cover bg-transparent-9-dark"></span>

  <div class="container">
    <div class="row">

      <!-- Left column -->
      <div class="col-md-6">

        <!-- Begin heading
        ===================
        * Use class "heading-center" or "heading-right" to align heading.
        * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
        * Use class "heading-hover" to enable heading hover effect.
        * Use class "heading-uppercase" to enable uppercase letters.
        -->
        <div class="heading heading-lg text-white heading-hover wow fadeIn" data-wow-delay="0.2s">
          <span class="heading-title-ghost">Services</span>
          <h2 class="heading-title">Services</h2>

          <!-- Begin divider
          ===================
          * Use class "hr-width-1", "hr-width-2" -> up to "hr-width-10" to shange divider width.
          * Use class "hr-1x", "hr-2x", "hr-3x", "hr-4x" or "hr-5x" to shange divider size.
          * Use class "hr-dotted", "hr-dashed" or "hr-double" to shange divider style.
          -->
          <hr class="hr-width-1 hr-5x border-main">
          <!-- End divider -->

          <p class="heading-tescription lead text-gray-2">Here talk abput some of the important features your app offers(google maps, chat feature, follower followee, and microposts!).
          </p>
          <br>
        </div>
        <!-- End heading -->

      </div> <!-- /.col -->

      <!-- Right column -->
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-12">
            <!-- Begin info box-4 -->
            <div class="info-box info-box-4 info-box-white wow fadeIn">
              <span class="info-box-icon rounded-icon bg-main text-white"><i class="fa fa-paint-brush"></i></span>
              <div class="info-box-info">
                <h4 class="info-box-title">Maps</h4>
                <p class="info-box-text text-gray-2"></p>
              </div>
            </div>
            <!-- End info box-4 -->
          </div> <!-- /.col -->

          <div class="col-md-12">
            <!-- Begin info box-4 -->
            <div class="info-box info-box-4 info-box-white wow fadeIn" data-wow-delay="0.2s">
              <span class="info-box-icon rounded-icon bg-main text-white"><i class="fa fa-code"></i></span>
              <div class="info-box-info">
                <h4 class="info-box-title">Relationship</h4>
                <p class="info-box-text text-gray-2"></p>
              </div>
            </div>
            <!-- End info box-4 -->
          </div> <!-- /.col -->

          <div class="col-md-12">
            <!-- Begin info box-4 -->
            <div class="info-box info-box-4 info-box-white wow fadeIn" data-wow-delay="0.4s">
              <span class="info-box-icon rounded-icon bg-main text-white"><i class="fa fa-globe"></i></span>
              <div class="info-box-info">
                <h4 class="info-box-title">Messaging</h4>
                <p class="info-box-text text-gray-2"></p>
              </div>
            </div>
            <!-- End info box-4 -->
          </div> <!-- /.col -->

        </div><!-- /.row -->
      </div> <!-- /.col -->

    </div><!-- /.row -->
  </div> <!-- /.container -->

</section>
<!-- End section 2 -->

<!-- Begin section 3 -->

<section id="section-3" class="video-section youtube-bg text-white"
  style="background-position: 50% 50%;"
  data-property="{
      videoURL: '',
      containment: 'self',
      startAt: 0,
      stopAt: 0,
      autoPlay: true,
      loop: true,
      mute: true,
      showControls: false,
      showYTLogo: false,
      realfullscreen: true,
      addRaster: false,
      optimizeDisplay: true,
      stopMovieOnBlur: true
  }">

  <!-- Element cover
  ===================
  * Use background transparent color classes for colored opacity (example: "bg-transparent-6-dark", "bg-transparent-8-5-red" ... 1 to 95). Look into "helper.css" file for more info.
  -->
  <span class="cover bg-transparent-8-dark"></span>

  <div class="video-section-caption vertical-align-center">

    <!-- Begin heading
    ===================
    * Use class "heading-center" or "heading-right" to align heading.
    * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
    * Use class "heading-hover" to enable heading hover effect.
    * Use class "heading-uppercase" to enable uppercase letters.
    -->
    <div class="heading heading-lg heading-center heading-hover wow fadeIn">
      <h2 class="heading-title">Coming Soon</h2>
      <a class="video-btn bg-main" href="" target="_blank"><i class="fa fa-play"></i></a>
      <p class="heading-tescription lead text-gray-2">
        We will update this section as soon as it is done.
      </p>
    </div>
    <!-- End heading -->

  </div> <!-- /.vertical-align-center -->

</section>
<!-- End section 3 -->
