<h1>Choose a gym you are a member of:</h1>

<input id="pac-input" class="controls" type="text" placeholder="Search For Your Gym Here!" size="50">
<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDOxfYUnJyZDMc4g6AjSv54UQsdIKyUiQ&libraries=places&callback=initAutocomplete"
         async defer></script>
